@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Protest+Riot&display=swap');
* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: 'Protest Riot', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* #main {
  width: 100%;
  height: 100%;
} */
.container-first {
  width: 100%;
  height: 100vh;
  background: url(img/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-first-text {
  color: rgb(227, 80, 64);
  text-align: center;
  display: block;
}
#btn {
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background-color: darksalmon;
  transition: all ease-in-out 0.6s;
}
#btn2 {
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background-color: darksalmon;
  transition: all ease-in-out 0.6s;
}
#btn3 {
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background-color: darksalmon;
  transition: all ease-in-out 0.6s;
}
#btn4 {
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background-color: darksalmon;
  transition: all ease-in-out 0.6s;
}
#btn:hover {
  background-color: darkred;
}
#btn2:hover {
  background-color: darkred;
}
#btn3:hover {
  background-color: darkred;
}
#btn4:hover {
  background-color: darkred;
}

.gif {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 700px) {
  /* #main {
    width: 100%;
    height: 100%;
    overflow: hidden;
  } */
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 12px;
  }
  .container-first {
    width: 100vw;
    height: 100vh;
    background: url(img/background2.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    text-align: center;
  }

  .gif {
    width: 300px;
    height: 300px;
  }
  #pra {
    width: 100%;
  }
}
